body{
  color:#40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;

}

/* FROST */
/* customizable snowflake styling */
.snowflake {
  color: #ffffff;
  font-size: 1em;
  font-family: Arial;
  /* text-shadow: 0 0 1px #000; */
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}



.top_container {
  background-color: #CEE5D0;
  position:relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px auto;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}
p{
  line-height: 2;
}


.profile{
  margin-bottom: 50px;
}

.img{
  margin-bottom: 40px;
}
.intro{
  width: 30%;
  margin: auto;
  padding-bottom:10px;
}
h2{
  font-size: 2 rem;
  font-family: sans-serif;
  font-weight: bolder;
  color: #66BFBF
}
h3{
  color: #11999E;
  font-family:'Montserrat', sans-serif;
  font-weight: bolder;
}

a{
  color: #11999E;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}
a:hover{
  color: #eaf6f6;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skills{
  margin-top: 50px;
  margin-bottom: 70px;
}
.skill-row{
  width: 50%;
  margin: 20px auto 50px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 25%;
  float:left;
  margin-right: 30px
}
.data-img{
  width: 25%;
  float:right;
  margin-right: 30px
}

hr {
  border-style: dotted none none;
  border-width: thick;
  border-color: gray;
  width: 10%;
}
.BUTTON_WGN {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family:'Montserrat', sans-serif;
   font-size: 49px;
   font-weight: 100;
   padding: 25px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_WGN {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Times New Roman;
   font-size: 20px;
   font-weight: 100;
   padding: 14px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px 0 10px 0;
}

.BUTTON_WGN:hover {
   background: lightgrey;
   border: solid #99C624 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.resumebtn{
  margin-top: 40px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px 0 30px 0;
}

.footer-link{
  padding: 0 30px 0 30px;
}

.bottom-copywright{
  color: #eaf6f6;
  font: 0.75rem;
}

.pot {
  position: relative;
  animation:normal;
  animation-name:run;
  animation-duration: 3s;
  
}

@keyframes run {
  0% {
    left: 0;
  }
  50% { 
    right: calc(90% - 100px); 
   }
  100% {
    right: 0; 
  }
}


.slider-img{
  /* width: 20%;
  height:20%; */
  position:absolute; left:60%;
}

.pot2 {
  position: relative;
  animation:normal;
  animation-name:run;
  animation-duration: 3s;
  
}

@keyframes run {
  0% {
    left: 0;
  }
  50% { 
    right: calc(90% - 100px); 
   }
  100% {
    right: 0; 
  }
}

.slider-img2{
  /* width: 20%;
  height:20%; */
  position:absolute; left:30%;
}

.slider{
  width:50%;
  margin: 10px auto 0 auto;
}

.contact-me{
  margin-top: 5%;
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  padding: 10px;
  outline: none;
  color: #fff;
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #66BFBF
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}































/* Just snow */
/* .snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}
@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
 }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
 }
}
.snowflake:nth-child(1) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: 10vw;
  left: 5vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(2) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -3vw;
  left: 15vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(3) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: 2vw;
  left: 13vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(4) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: 10vw;
  left: 6vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(5) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: 8vw;
  left: 14vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(6) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: 4vw;
  left: 82vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -8s;
}
.snowflake:nth-child(7) {
  --size: 0.6vw;
  --left-ini: 0vw;
  --left-end: -4vw;
  left: 61vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;

}
.snowflake:nth-child(8) {
  --size: 0.4vw;
  --left-ini: 3vw;
  --left-end: 3vw;
  left: 16vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}
.snowflake:nth-child(9) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: -1vw;
  left: 85vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(10) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: -9vw;
  left: 98vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}
.snowflake:nth-child(11) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: 8vw;
  left: 87vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}
.snowflake:nth-child(12) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -5vw;
  left: 42vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -4s;
}
.snowflake:nth-child(13) {
  --size: 0.4vw;
  --left-ini: 8vw;
  --left-end: 7vw;
  left: 22vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}
.snowflake:nth-child(14) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 39vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -4s;
}
.snowflake:nth-child(15) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: 3vw;
  left: 55vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}
.snowflake:nth-child(16) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: 1vw;
  left: 45vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -4s;
}
.snowflake:nth-child(17) {
  --size: 0.8vw;
  --left-ini: -9vw;
  --left-end: 3vw;
  left: 100vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(18) {
  --size: 0.8vw;
  --left-ini: 8vw;
  --left-end: 7vw;
  left: 41vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}
.snowflake:nth-child(19) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: 8vw;
  left: 35vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -6s;
}
.snowflake:nth-child(20) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: -5vw;
  left: 94vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -4s;
}

/* added small blur every 6 snowflakes*/
/* .snowflake:nth-child(6n) {
  filter: blur(1px);
  overflow: hidden;
}  */